
<%#
@categories.each do |pro|
	%>
	<%#= pro.id %>
	<%#
end
%>
    <%=content_for :category do %>
    <title>Rajco Categories</title>
    <meta property="og:title"                       content="Rajco Categories">  
<meta property="og:description"                 content="Welcome to rajco Shop for rajco track suits, warmup suits, winter jackets and rain jackets view new collections for rajco Originals">
<meta property="og:site_name"                   content="Rajco" />
<meta property="og:url"                         content="http://www.global.adidas.com" />




<meta name="title"                       content="Rajco Categories">  
<meta name="description" content="Welcome to rajco Shop for rajco track suits, warmup suits, winter jackets and rain jackets view new collections for rajco Originals"/>
<meta name="keywords" content="rajco, fitness,  outdoor, polo shirts, rain jackets, soccer set, tshirts, track suit"/>
<%end%>
<section class="light-grey-body content-border">
<div class="push"></div>
<div class="wrapper">
    <div>
        <ul class="page-breadcrumb">

            <li><%=link_to 'Back' , ('/') , :class=> "bck-btn"%> | </li>

        </ul>
        <div class="clearfix"></div>
        <h3 class="heading-one"><strong>Rajco clothing</strong> <span class="heding-one-text"></span></h3>
    </div>
    <div class="clearfix"></div>
    <div class="row">
    <div class="col-lg-3 left-aside">
        <!-- <aside class="left-nav">
            <h4>Product</h4> -->
            <!-- <div id="masterdiv" class="select-catagories-main">
            <div class="select-catagories">  
                <a href="/home/category_view/<%=params[:id]%>" class="catag-active"> <strong><%#= abc.titleize%></strong></a>
                
            </div>
           <!--  <a href="#" class="pull-right clear-catagories">Clear all</a> -->
            <!-- <div class="clearfix"></div>
        
        
        </aside> -->
        <aside class="left-nav">
            <h4>Products</h4>
            <%@categories.each do |c|%>
            <%#= c.id %>
            <div id="masterdiv">
                <div class="leftnav-sep">
                <div class="menutitle"><span onclick="SwitchMenu('<%=c.id%>')" class="masterarrow"><%=image_tag('arrow-down-black.png' ,:width => 12, :height => 12)%></span><%=link_to c.name , (category_view_path c)%></span></div>
                <%cat = Category.where(category_id: c.id)%>
                    <%if cat.present?%>
                        
                            <span class="submenu" id="<%=c.id%>">
                            <% cat.each do |sc| %>
                               <%=link_to sc.name , (category_view_path sc)%><br>
                            <%end%>
                            </span>
                            <div style="height:5px;"></div>
                    <%end%>      
                 </div>

            </div>
            <%end%>

        </aside>
        <div class="clearfix"></div>
        
    </div>

    <div class="col-lg-9 product-container">
        <section class="bg-light-grey content-border">
<div class="wrapper">
	<div class="row product-row">
		<%@category.each do |c|%>
	    	<div class="product-content prd-cnt-top">
	            <div class="product-inner">
	                <div class="product-rollover">
	                	<%=link_to 'see now', (home_cat_path c) , :class => "rollover-link"%>
	                </div>
	                <%=image_tag(c.photo.url(:medium), :width => 400, :height => 180,:title => "#{c.photo_file_name}" , :alt => "#{c.photo_file_name}")%>
	                </div>
	                <div class="product-bottom">
	                    <p><%=c.name%></p>
                   		<%=link_to 'SEE NOW', (home_cat_path c), :class => "link-arrow-red"%>
	                </div>
	         </div>
	    <%end%>    
    </div>
</div>
</section>
    </div>
</div>
</div>
<div class="push"></div>