
    <%=content_for :category do %>
    <title>Rajco Categories</title>
    <meta property="og:title"                       content="Rajco Categories">  
<meta property="og:description"                 content="Welcome to rajco Shop for rajco track suits, warmup suits, winter jackets and rain jackets view new collections for rajco Originals">
<meta property="og:site_name"                   content="Rajco" />
<meta property="og:url"                         content="http://www.global.adidas.com" />




<meta name="title"                       content="Rajco Categories">  
<meta name="description" content="Welcome to rajco Shop for rajco track suits, warmup suits, winter jackets and rain jackets view new collections for rajco Originals"/>
<meta name="keywords" content="rajco, fitness,  outdoor, polo shirts, rain jackets, soccer set, tshirts, track suit"/>
<%end%>
<section class="light-grey-body content-border">
<div class="push"></div>
<div class="wrapper">
    <div>
        <ul class="page-breadcrumb">

            <li><%=link_to 'Back' , ('/') , :class=> "bck-btn"%> | </li>
            <li><a href="/">Home</a><span class="divider"></span> </li>
            <%abc = params[:id].gsub("-"," ")%>
            <li><a href="/home/category_view/<%=params[:id]%>"><%= abc.titleize%></a></li>
        </ul>
        <div class="clearfix"></div>
        <h3 class="heading-one"><strong>Rajco clothing</strong> <span class="heding-one-text"></span></h3>
    </div>
    <div class="clearfix"></div>
    <div class="row">
    <div class="col-lg-3 left-aside">
        <aside class="left-nav">
            <h4>Product</h4>
            <div id="masterdiv" class="select-catagories-main">
            <div class="select-catagories">  
                <a href="/home/category_view/<%=params[:id]%>" class="catag-active"> <strong><%= abc.titleize%></strong></a>
                
            </div>
           <!--  <a href="#" class="pull-right clear-catagories">Clear all</a> -->
            <div class="clearfix"></div>
        </div>
        
        </aside>
        <aside class="left-nav">
            <h4>Products</h4>
            <%@categories.each do |c|%>
            <div id="masterdiv">
                <div class="leftnav-sep">
                <div class="menutitle"><span onclick="SwitchMenu('<%=c.id%>')" class="masterarrow"><%=image_tag('arrow-down-black.png' ,:width => 12, :height => 12)%></span><%=link_to c.name , (category_view_path c)%></span></div>
                <%cat = Category.where(category_id: c.id)%>
                    <%if cat.present?%>
                        
                            <span class="submenu" id="<%=c.id%>">
                            <% cat.each do |sc| %>
                               <%=link_to sc.name , (category_view_path sc)%><br>
                            <%end%>
                            </span>
                            <div style="height:5px;"></div>
                    <%end%>      
                 </div>

            </div>
            <%end%>

        </aside>
        <div class="clearfix"></div>
        
    </div>
    <div class="col-lg-9 product-container">
        <div class="product-top-banner">
            <div class="pull-right">
                <label>Show:</label>
                <select>
                    <option>24</option>
                    <option>25</option>
                    <option>26</option>
                    <option>27</option>
                </select>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="product-thumb-main">
             <%if @products.present?%>
                 <%@products.each do |p|%>   
                    <div class="porduct-thubnail">
                        <%=link_to image_tag(p.images[0].photo.url(:medium) , :width => 250 , :height => 250, :title => "#{p.images[0].photo_file_name}" , :alt => "#{p.images[0].photo_file_name}"), ("/home/#{p.slug}/product")%>
                        <div class="logo-prd"><%=image_tag('rajco-logo-prd.png', :width => 40)%></div>
                        <p><%= abc.titleize%></p>
                    </div>
                 <%end%>   
            <%elsif @product.present?%>
                <%@product.each do |p|%>
                    <%if p.present?%>
                         <%img = Image.where(product_id: p[0].id)%>
                        <div class="porduct-thubnail">
                            <%=link_to image_tag(img[0].photo.url(:medium) , :width => 250 , :height => 250 ,:title => "#{img[0].photo_file_name}" , :alt => "#{img[0].photo_file_name}"), ("/home/#{p[0].slug}/product")%>

                            <div class="logo-prd"><%=image_tag('rajco-logo-prd.png', :width => 40)%></div>
                            <p><%= abc.titleize%></p>
                        </div>
                    <%end%>
                <%end%>
            <%else%>
                <p style="color:#E83921 !important;">No product for this category</p>
            <%end%>
        </div>    
        <div class="clearfix"></div>
        <div class="product-top-banner">
            <div class="pull-right">
                <label>Show:</label>
                <select>
                    <option>24</option>
                    <option>25</option>
                    <option>26</option>
                    <option>27</option>
                </select>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    </div>
            
        <div class="clearfix"></div>
        <div class="push"></div>
</div>
</section>
