<script>
			$(document).ready(function() {
        var slider = $('#slider').leanSlider({
            directionNav: '#slider-direction-nav',
            controlNav: '#slider-control-nav'
        });
    });
		</script>
<section class="wrapper">
	<ul class="submenu-content">
    	<li><label><%=params[:id].titleize%> <i class="spacing-letter"></i> I</label></li>
       	<%@sub.each_with_index do |sc, i|%>
        <%break if i == 4%>
        	<li><%=link_to sc.name , (category_view_path sc)%></li>
        <%end%>
    </ul>
</section>
<div class="clearfix"></div>
<section class="slider-content">

		<div id="slider">
            <div class="slide1">
            	<%=image_tag('1.jpg')%>
                
            </div>
            <div class="slide2">
                <%=image_tag('2.jpg')%>
            </div>
            <div class="slide3">
                <%=image_tag('3.jpg')%>
            </div>
            
        </div>
        
        <div id="slider-control-nav"></div>
	
    <div class="clearfix"></div>
</section>

<section class="bg-light-grey content-border content-01">
<div class="wrapper">
	<div class="push"></div>
    <div class="row product-row">
    	<%@sub.each do |sc|%>
    	<div class="product-content prd-cnt-bottom ">
            <div class="product-inner">
                <div class="product-rollover">
                    <%=link_to 'see now', (category_view_path sc) , :class => "rollover-link"%>
                </div>
                <%=image_tag(sc.photo(:medium), :width => 470 ,:title => "#{sc.photo_file_name}" , :alt => "#{sc.photo_file_name}")%>
                
                </div>
                <div class="product-bottom">
                    <p><%=sc.name%></p>
                    <%=link_to 'see now', (category_view_path sc) , :class => "link-arrow-red"%>
                </div>
        </div>
        <%end%>
    </div>
</div>
</section>