<%=content_for :contact do %>
<title>Rajco | Contact</title>
<%end%>
<section class="light-grey-body content-border">
<div class="push"></div>
<div class="wrapper">
<h2>Contact</h2>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
<div class="push"></div>
<p>Phone 	: +92321-9876543</p>
<p>Email 	: info@rajco.com</p>
<p>Fax 	 	: +92423-7658902</p>
<p>Address  : Sector A North L.A</p>
<div class="push"></div>
<div class="push"></div>


</div>
</section>