<script>
			$(document).ready(function() {
        var slider = $('#slider').leanSlider({
            directionNav: '#slider-direction-nav',
            controlNav: '#slider-control-nav'
        });
    });
		</script>
<%=content_for :index do %>
<title>Rajco Official Website | Rajco</title>
<meta property="og:title"                       content="Rajco Official Website | Rajco">  
<meta property="og:description"                 content="Welcome to rajco Shop for rajco track suits, warmup suits, winter jackets and rain jackets view new collections for rajco Originals">
<meta property="og:site_name" 					content="Rajco" />
<meta property="og:url" 						content="http://www.global.adidas.com" />

<meta name="title"                       content="Rajco Official Website | Rajco">  
<meta name="description" content="Welcome to rajco Shop for rajco track suits, warmup suits, winter jackets and rain jackets view new collections for rajco Originals"/>
<meta name="keywords" content="rajco, fitness,  outdoor, polo shirts, rain jackets, soccer set, tshirts, track suit"/>
<%end%>



<section class="slider-content">

		<div id="slider">
            <div class="slide1">
            	<%=image_tag('1.jpg')%>
                
            </div>
            <div class="slide2">
                <%=image_tag('2.jpg')%>
            </div>
            <div class="slide3">
                <%=image_tag('3.jpg')%>
            </div>
            
        </div>
        
        <div id="slider-control-nav"></div>
	
    <div class="clearfix"></div>
</section>
<section class="bg-light-grey content-border content-01">
<div class="wrapper">
	<div class="push"></div>
	<div class="row product-row">
		<%@category.each do |c|%>
	    	<div class="product-content prd-cnt-top">
	            <div class="product-inner">
	                <div class="product-rollover">
	                	<%=link_to 'see now', (home_cat_path c) , :class => "rollover-link"%>
	                </div>
	                <%=image_tag(c.photo.url(:medium), :width => 400, :height => 180,:title => "#{c.photo_file_name}" , :alt => "#{c.photo_file_name}")%>
	                </div>
	                <div class="product-bottom">
	                    <p><%=c.name%></p>
                    <%=link_to 'SEE NOW', (home_cat_path c), :class => "link-arrow-red"%>
	                </div>
	         </div>
	    <%end%>    
    </div>
</div>
</section>