<script type="text/javascript">
function chang_image(obj,tit,des){
		
	$("#changer").attr("src", obj);
    $("#preview").attr("src", obj);
	 $("#changer").attr("data-large", obj);
     $("#changer").attr("alt", tit);
     $("#desp").empty();
     $("#desp").append( "<strong>Code</strong> "+des );

	 
	return false;
}

$(function() {
$( "#tabs" ).tabs();
});
jQuery(function(){

    $('.my-foto').imagezoomsl({ 

        zoomrange: [2, 2]   
    });  
});
</script>
<%=content_for :product do %>
<title>Rajco Products</title>
<meta property="og:title"                       content="Rajco Products">  
<meta property="og:description"                 content="Welcome to rajco Shop for rajco track suits, warmup suits, winter jackets and rain jackets view new collections for rajco Originals">
<meta property="og:site_name" 					content="Rajco" />
<meta property="og:url" 						content="http://www.global.adidas.com" />

<meta name="title"                       content="Rajco Categories">  
<meta name="description" content="Welcome to rajco Shop for rajco track suits, warmup suits, winter jackets and rain jackets view new collections for rajco Originals"/>
<meta name="keywords" content="rajco, fitness,  outdoor, polo shirts, rain jackets, soccer set, tshirts, track suit"/>
<%end%>
<%product = @product.images%>



<section class="content-border">
<div class="push"></div>
<div class="wrapper">
    <div class="list-breadcrub">
    <ul class="page-breadcrumb">
        <li><%=link_to_function 'Back' , 'history.back()' , :class=> "bck-btn"%> | </li>
            <li><a href="/">Home</a><span class="divider"></span> </li>
            <%abc = params[:id].gsub("-"," ")%>
            <li><a href="/home/category_view/<%=params[:id]%>"><%= abc.titleize%></a><span class="divider"></li>
        <li><a href="#">Clouthing</a> </li>
    </ul>
    <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
    <div class="col-lg-6">
    <div class="clearfix my-foto-main" id="content" style="width:442px;" >
    <div class="clearfix">
        <img class="my-foto" id="changer" src="<%=product[0].photo.url%>" width="450" height="450" data-large="<%=product[0].photo.url%>" alt="<%=product[0].photo_file_name%>" style="border:4px solid #666;">
        
    </div>
    <br/>
 <div class="clearfix" >
    <ul id="thumblist" class="clearfix" >
        <%product.each do |p|%>
        
        <li style="float:left; margin-right:10px;"><a href="#" onclick="chang_image('<%=p.photo.url%>' , '<%=p.photo_file_name%>','<%=p.description%>'); return flase;"><%=image_tag(p.photo.url(:thumb), :width => 60 , :height =>60 , :alt => "#{p.photo_file_name}")%></a></li>
        <%end%>
        
    </ul>
    </div>
</div>
    </div>  
    <div class="col-lg-6 product-dsp-container">
        <h3 class="fl no-margin"><%= abc.titleize%></h3>
        <a href="/" class="fr"><%=image_tag('logo.png' , :width=>97)%></a>
        <div class="clearfix"></div>
        <div class="product-box-detail">
            <div class="top">
                <p id="desp"><strong>Color </strong><%= product[0]['description']%></p>
                <a href="#" class="product-icon-detail"><img src="<%=product[0].photo.url%>" width="97" id="preview"></a>
            </div>
            <div class="product-detail-bottom">
                <a href="#" class="btn-blue-one">Store Locator</a>
            </div>
        </div>
        <div class="clearfix"></div>
        
    </div>
    <div class="clearfix"></div>
    <div class="push"></div>
</div>
</div>
</section>

<section class="prd-dtl-btm">
    <div class="wrapper">
    <div id="tabs" class="tab-social">
        <ul>
        <li><a href="#tabs-1">Overview</a></li>
        <li><a href="#tabs-2">Technology</a></li>
        </ul>
        <div id="tabs-1">
            <h1>Predator Instinct FG Boots</h1>
            <p>When the pitch demands the most technical play-making, these men's football boots let you make magic happen. Designed with five lethal zones of predator® technology, they are designed for superior control with every touch of the ball. A HYBRIDTOUCH upper blends supple softness with light weight to deliver unmatched touch. The transparent, firm ground outsole and control frame put specialised speed right under your feet.</p>
            <ul class="disptn-cnt">
                <li>Double-layer air mesh upper for maximum breathability</li>
                <li>Suede overlays for support</li>
                <li>Leather lining for great fit and feel</li>
                <li>Cushioned midsole for a comfortable stride</li>
                <li>Leather contrast 3-Stripes and heel patch</li>
            </ul>
        </div>
        <div id="tabs-2">
             <h1>Predator Instinct </h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <ul class="disptn-cnt">
                <li>Double-layer air mesh upper for maximum breathability</li>
                <li>Suede overlays for support</li>
                <li>Leather lining for great fit and feel</li>
                <li>Cushioned midsole for a comfortable stride</li>
                <li>Leather contrast 3-Stripes and heel patch</li>
            </ul>
        </div>
        
    </div>
    </div>
</section>
