
    <style>
      #map_canvas {
        width: 500px;
        height: 400px;
      }
    </style>
   
    <script>
      function initialize() {
        var map_canvas = document.getElementById('map_canvas');
        var map_options = {
          center: new google.maps.LatLng(44.5403, -78.5463),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(map_canvas, map_options)
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>

<%=content_for :store do %>
<title>Rajco | Stroe Finder</title>
<%end%>
<section class="light-grey-body content-border">
<div class="push"></div>
<div class="wrapper">
  <h3>Site Map</h3>
    <div id="map_canvas"></div>
</div>
<div class="push"></div>
<div class="push"></div>
</section>
