<%=content_for :contact do %>
<title>Rajco | Contact</title>
<%end%>
<section class="light-grey-body content-border">
<div class="push"></div>
<div class="wrapper">
<h2><%= t('.contact_us') %></h2>
<div class="row">
    <div class="col-lg-6">
<%= form_for @contact, :url => contacts_path, :html => {:class => 'formtastic' , :role => 'form-group'} do |f| %>
  <% if ContactUs.require_name %>

  <div class="form-group">
    <li class='string required' id='contact_us_contact_name_input'>
      <%= f.label :name, (t('.name') + content_tag(:abbr, '*', :class => 'required')).html_safe %>
      <%= f.text_field :name ,:class=>"form-control"%>
      <% if f.object.errors[:name].present? %>
        <p class='inline-error'><%= f.object.errors[:name].join(' and ') %></p>
      <% end %>
    </li>
    </div>
  <% end %>
  <div class="form-group">
  <li class='string required' id='contact_us_contact_email_input'>
    <%= f.label :email, (t('.email') + content_tag(:abbr, '*', :class => 'required')).html_safe %>
    <%= f.text_field :email ,:class=>"form-control"%>
    <% if f.object.errors[:email].present? %>
      <p class='inline-error'><%= f.object.errors[:email].join(' and ') %></p>
    <% end %>

  </li>
  </div>
  <% if ContactUs.require_subject %>
  <div class="form-group">
    <li class='string required' id='contact_us_contact_subject_input'>
      <%= f.label :subject, (t('.subject') + content_tag(:abbr, '*', :class => 'required')).html_safe %>
      <%= f.text_field :subject ,:class=>"form-control"%>
      <% if f.object.errors[:subject].present? %>
        <p class='inline-error'><%= f.object.errors[:subject].join(' and ') %></p>
      <% end %>
    </li>
    </div>
  <% end %>
  <div class="form-group">
  <li class='text required message-contact' id='contact_us_contact_message_input'>
    <%= f.label :message, (t('.message') + content_tag(:abbr, '*', :class => 'required')).html_safe %>
    <%= f.text_area :message ,:class=>"form-control message-box" %>
    <% if f.object.errors[:message].present? %>
      <p class='inline-error'><%= f.object.errors[:message].join(' and ') %></p>
    <% end %>
  </li>
</div>
  <li class='commit message-contact'>
    <%= f.submit :submit, :alt => t('.submit'), :class => 'btn btn-default', :label => t('.submit'), :title => t('.submit') %>
  </li>
<% end %>
</div>
<div class="col-lg-2"></div>
<div class="col-lg-4">
<h3>Furthur Details</h3>
<div class="push"></div>

<p>Phone  : +92000-0000000</p>
<p>Email  : info@rajcoindustries.com</p>
<p>Fax    : +92523-0000000</p>
<p>Address  : Sector A North L.A</p>
</div>

</div>
</div>
</section>