@font-face {
    font-family:gotham-rounded-book;
    src: url(/assets/gotham-rounded-book.otf);
}
a { color:#333;}
a:hover { color:#333;}
a:focus { outline:none !important; text-decoration:none !important;}
.grey-body { background:#333;}
.push {height:20px;}
.fl {float: left !important;}
.fr {float: right !important;}
.pd-btm {padding-bottom:0px !important;}
.wrapper { max-width:950px; margin:0px auto;}
ul { list-style:none; margin:0px; padding:0px;}
.no-margin { margin:0px !important;}
.margin-lf { margin-left:0px !important;}
.margin-rt { margin-right:0px !important;}
.margin-tp { margin-top:0px !important;}
.margin-bt { margin-bottom:0px !important;}
.no-padding { padding:0px !important;}
.padding-lf { padding-left:0px !important;}
.padding-rt { padding-right:0px !important;}
.padding-tp { padding-top:0px !important;}
.padding-bt { padding-bottom:0px !important;}
.field-form {background-color: #FFFFFF;border: 1px solid #ccc; color: #000 !important; font-size: 12px;padding: 6px 7px 7px;width: 260px;}
.navbar-nav { float: none !important;}
.header-main {margin-top:10px; margin-bottom:8px;}
.header-middle input[type="text"] {width:100%; font-size:18px; padding-right:40px;}
.header-list { margin-left:-10px; margin-top:5px; margin-bottom:10px;}
.header-list li { float:left; margin-left:14px;}
.header-list li a {font-weight:bold; font-size:12px;}

.navbar { min-height:20px; border:none !important; border-radius:0px !important; }
.navbar-default { background:#000; margin-bottom:0px !important;}
.navbar-nav li a {font-size:12px; color:#fff !important; font-weight:bold; padding:4px 8px 4px 8px; text-transform:uppercase;}
.navbar-nav li a:hover {background: #fff !important; color:#333 !important;}
.dropdown-menu li a { color:#333 !important; padding:5px 15px;}
.dropdown-menu li a:hover { background:none !important; text-decoration:underline; color:#999 !important;}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus { background:#fff; color:#333 !important;}
.navbar-nav .active a {background:#fff !important; color:#333 !important;}
.dropdown-menu{min-width: inherit !important;}
.product-bottom {background-color: #FFFFFF;bottom: 0;height: 90px;width: 100%;z-index: 2; border-bottom:2px solid #EA171A; margin-bottom:10px; margin-top:0px; padding-top:1px;}
.product-bottom p {color: #333333;font-size: 16px; height:52px; font-weight:normal; margin: 9px 9px 0px 9px;text-transform: uppercase;}
.link-action-two {background: url(/assets/right-arrow.png) no-repeat right 4px;font-size: 14px;font-weight: bold;margin: 30px 0 0 9px;padding: 3px 20px 0px 0px;text-transform: uppercase;color:#EA171A;}
.content-border {}

footer { padding-top:20px;border-top:20px solid #000;}
.arrow-down-small {  }
.link-ft-left { background:url(/assets/arrow-sprt.png) no-repeat 0px 8px; padding-left:15px;}
.footer-list { font-size:13px; font-weight:bold;}

.footer-search label {
    float: none;
    font-size: 12px;
    padding: 0 9px 0 0;
}

.footer-search input.textinput {
    background-color: #FFFFFF;
    display: table-cell;
    font-size: 12px;
    line-height: 14px;
    padding: 7px 29px 6px 8px;
    width: 239px;
}


.footer-search .formactions {background: url(/assets/arrow-right-black.png) no-repeat center #B3B3B3;float: right;height: 30px;position: relative;width: 30px;z-index: 2;border:none;}
.footer-newslatter { padding:10px 0px 10px 20px;}
.link-ft-left { margin:10px 0px 9.5px 0px;}
.brd-rt-dsh {border-right:1px dashed #666;}
.bottom-banner { background:#EBEBEB; padding:10px;}
.bottom-banner ul li {float:left; margin-left:20px;}
.navbar-nav li.active a {background:#fff !important; color:#333 !important; box-shadow:none !important; border:none !important;}
.navbar-collapse { padding-left:0px;}
.product-content { position: relative; transition: all 1500ms ease-out;}
.product-rollover { background:url(/assets/bg-rollover.png) repeat; width:100%; height:210px; position:absolute; display:none; text-align:center; padding-top:95px; transition: all 500ms ease-out; -moz-transition: all 500ms ease-out; -webkit-transition: all 500ms ease-out;}
.product-rollover:hover { padding-top:85px;}
.product-content:hover .product-rollover { display:block !important;}
.rollover-link { background:url(/assets/arrow-left-white.png) no-repeat right 4px; font-size:26px; font-weight:bold; color:#fff; padding-right:30px; text-transform:uppercase; border-bottom:1px solid #fff;}
.rollover-link:hover { text-decoration:none; color:#fff; margin-top:-20px;}
.product-inner {position:relative; height:230px; background:#999;}
.product-inner img { vertical-align: baseline; display:block;}

.submenu-content {padding:5px 0px; margin-bottom:20px;}
.submenu-content li {font-size:12px; float:left; font-weight:bold;}
.submenu-content li a {color:#333 !important; padding:5px 10px; text-transform:uppercase;}
.submenu-content label { line-height:12px; padding-top:2px; padding-right:15px; text-transform:uppercase;}
.spacing-letter {padding-left:25px;}
.menupage-products {padding:20px 0px 0px 0px;}
.menupage-products .col-lg-3 {padding-right:0px;}
.link-action-one {background: url(/assets/arrow-right-black.png) no-repeat right 4px;font-size: 14px;font-weight: bold;margin: 30px 0 0 9px;padding: 3px 20px 0px 0px;text-transform: uppercase;color:#333;}
.link-action-three {background: url(/assets/arrow-right-black.png) no-repeat right 4px;font-size: 14px;font-weight: bold;margin: 30px 0 0 9px;padding: 3px 20px 0px 0px;text-transform: uppercase;color:#333;}
.link-action-white {background: url(/assets/arrow-right-white.png) no-repeat right 4px;font-size: 14px;font-weight: bold;margin: 30px 0 0 9px;padding: 3px 20px 0px 0px;text-transform: uppercase;color:#fff;}
.link-action-white:hover {color:#fff !important;}
.pagecontent-botom img {float:left; width:237px; height:200px;}
.pagecontent-botom .cntleft {padding-right:0px;}
.pagecontent-botom {padding-bottom:30px;}
.product-rollover {font-weight:bold; color:#fff;}
.pg-cntee img {width:53px !important; height:55px !important;}
.pg-cntee h3 {font-weight:bold;padding:10px 0px;}
.btm-cnt-two .cntleft {padding-right:0px;}
.btm-two-bg {background:#fff; padding-bottom:20px;}
.btm-three-bg {background:#000; padding-bottom:20px;}
.btm-three-bg h3, .btm-blue-bg h3 {color:#fff;}
.btm-blue-bg {background:#0165bd; padding-bottom:20px;}
.breadcrumb-cnt {padding:10px 0px;}
.breadcrumb-cnt a {padding-right:5px; font-size:12px;}
.breadcrumb-cnt .divider {padding-right:5px;}
.bg-white {background:#fff;}
.checkbox-cnt input[type="checkbox"] { margin-right:5px; margin-top:2px;}
.form-content {margin:15px 0px 10px 0px;}
.button-field {background-color:#226ebb; border:none; color:#fff; font-weight:bold; font-size:16px; padding:7px 40px 7px 30px;}
.arrow-login {background: url(/assets/arrow-white.png) no-repeat right 25px center #226ebb;}
.account-content {min-height:260px; margin-left:15px;}
.col-lg-8.account-content {width: 62.667%;}
.product-inner > img {width: 100%; padding: 10px;}
.link-arrow-red {font-weight:bold; font-size:14px; background:url(/assets/right-arrow.png) no-repeat right 2px; color:#EA171A; padding-right:20px;}
.link-arrow-red:hover { color:#EA171A; text-decoration:none;}
.product-bottom a {margin-left:10px;}


#iview {margin:0px 0px 15px 0px !important; height:555px !important; padding-top:0px !important;}
#iview img {}
.iview-image {width:100% !important; min-width:100% !important; max-width:100% !important; display:block; height:620px !important; background-size:100%;}
.iview-controlNav { position:relative !important; margin:-80px auto 0px auto !important; width:205px !important;}
#iview-tooltip {display:none !important;}
.slider-content {background:#000;}
.light-grey-body {background:#ebebeb;}
.porduct-thubnail {width:181px; padding:30px 10px 50px 10px; background:#fff; float:left; margin-right:10px; margin-bottom:10px;}
.porduct-thubnail a img {width:100% !important;}
.pd-no {padding:0px !important;}
.left-nav {background:#dbdbdb; width:180px;}
.pd-cnt { padding:10px;}
.left-nav h4 { margin:0px 0px 5px 0px; padding-bottom:5px; border-bottom:1px solid #eee; padding:10px; font-weight:bold; font-size:16px;}
.nav-list-heading {font-weight: bold; background:url(/assets/arrow-down-black.png) 0px 4px no-repeat;}
.left-nav-list {margin-top:10px;}
.left-nav-list li {padding-left:18px; margin-bottom:2px;}
.left-nav-list li.active a { text-decoration:underline; color:#000 !important;}
.product-container { padding-left:0px; padding-right:0px; margin-top:0px; width:79% !important;}

#thumblist li {float:left; margin-right:9px; border:2px solid #ccc; margin-bottom:9px;}
.product-box-detail {margin-top:20px;}
.product-box-detail .top {padding:20px; border:1px solid #ccc;}
.product-detail-bottom {background:#ccc; padding:20px;}
.porduct-thubnail a img { vertical-align:middle;}
.menutitle{
font-weight: bold; margin-bottom:5px; cursor:pointer; font-size:13px;
}
.submenu a { font-size:12px; font-weight:normal;}
.masterarrow img { margin-top:-4px;}
.masterarrow { margin-right:5px;}
.submenu {margin-left:15px;}

.disptn-cnt { background:#fff; padding:10px;}
.discp-product-content { background: #ccc; padding:10px; margin-top:10px;}
.discp-product-content label { background:#fff; padding:5px 10px; margin-bottom:0px;}
ul.disptn-cnt { list-style:square; margin-left:15px;}
.product-dsp-container { padding-left:30px;}
.product-dsp-container h3 { font-weight:bold;}

.iviewSlider { background-size:100% 100% !important;}

.footer-rajco-details { text-align:right; padding-top:2px;}
.red { color:#f15a29;}
.ft-abt { font-size:18px; font-weight:normal; margin-top:5px; float: right;}
.ft-abt-bt { font-weight:normal; font-size:14px; margin-bottom:0px; margin-top: 5px; }
.grey { color:#666;}
.ft-lst-hd {
    font-size: 13px !important;
    font-weight: bold;
    margin-bottom:10px;
}

.product-row { margin-left:0px !important;}
.form-header-srch { position:relative;}
.form-header-srch input[type="text"] { width:94%;}
.logo-content {margin-bottom:0px;}
.btn_simplesearch {
    background: url("/assets/magnifier.png") no-repeat scroll 0 0 #B3B3B3;
    border: medium none;
    height: 32px;
    overflow: hidden;
    text-indent: 100px;
    width: 30px;
    position:absolute;
}

.porduct-thubnail > a {
    display: block;
    height: 140px;
    width: 100%;
}
.form-header-srch input[type="text"]:focus {
   -moz-box-shadow:    inset 0 0 10px #ccc;
   -webkit-box-shadow: inset 0 0 10px #ccc;
   box-shadow:         inset 0 0 10px #ccc; 
}
.porduct-thubnail > a img{display: block; max-height: 140px;}
.bg-light-grey { background:#ebebeb !important;}
.menu-container { padding-right:0px !important;}
.right-menu { margin-right:-10px;}
.frm-hd-pd { padding:0px !important;}
.product-cnt .prodct-inn { padding-right:0px !important;}
.product-cnt .prodct-intwo { padding-right:0px !important; padding-left:10px !important;}
.prd-cnt-top { width:231px; float:left; margin-right:10px;}
.prd-cnt-bottom { width:471px; float:left; margin-right:10px;}
.content-01 { padding-bottom:15px; padding-top:60px;}
.footer-cnt-top h4 { margin-top:0px;}
.mr-rght { margin-right:0px !important;}

.footer-list > li {
    margin-bottom: 5px;
}
.footer-list a {
    color: #666666;
    font-weight: normal;
}
.page-breadcrumb li { float:left; font-weight:normal; padding-right:10px;}
.page-breadcrumb li a { font-size:13px;}
.divider {
    background:url(/assets/devider.png) no-repeat;
    float: right;
    margin:10px 0px 0 10px;
    overflow: hidden;
    height:8px;
    width: 7px;
}
.prd-cnt-bottom img { height: 210px !important; padding: 0px !important;}
.product-thumb-main{min-height: 377px;}
.bck-btn { background:url(/assets/arrow-back.png) 0px 2px no-repeat; font-weight:bold; margin:0px; padding:0 0 0 20px;}
.heading-one { font-size:25px; padding-bottom:10px;}
.heding-one-text { font-size:18px; font-weight:normal !important;}
.left-aside { width:205px !important;}
.right-aside { width:70% !important;}
.product-top-banner {
    background: none repeat scroll 0 0 #DBDBDB;
    width:97.4%;
    padding:10px 10px 8px 10px;
    margin-bottom:10px;
}
.product-top-banner label { font-size:13px;}
.product-top-banner select { font-size:14px; font-weight:normal; width:70px;}
.leftnav-sep { border-bottom:1px solid #eee; margin-bottom:5px; padding:0px 10px;}
.select-catagories { padding:10px; background:#fff; margin:10px 5px 5px 5px;}
.clear-catagories { font-weight:normal; font-size:13px; padding-right:10px; padding-bottom:5px;}
.select-catagories-main { margin-bottom:10px;}
.select-catagories > a {
    font-size: 12px;
    font-weight: normal;
    display:block;
    padding-left:19px;
    color:#e83921 !important;
}
.catag-arrow { background:url(/assets/cross-disable.png) 0px 4px no-repeat}
.catag-active { background:url(/assets/cross-active.png) 0px 4px no-repeat}
.logo-prd { margin:15px 0px 10px 0px;}
.porduct-thubnail > p {
    font-size: 12px;
}

.zoomPad > img {
    width: 440px;
}

#thumblist a {
    display: block;
     height: 59px !important;
    width: 59px !important;
}

#thumblist img {
    width: 100%;
}

.product-inner {position:relative; height:230px;
border:10px solid #333;
background: rgb(168,168,168); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(168,168,168,1) 0%, rgba(255,253,249,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(168,168,168,1)), color-stop(100%,rgba(255,253,249,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(168,168,168,1) 0%,rgba(255,253,249,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(168,168,168,1) 0%,rgba(255,253,249,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(168,168,168,1) 0%,rgba(255,253,249,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(168,168,168,1) 0%,rgba(255,253,249,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a8a8', endColorstr='#fffdf9',GradientType=0 ); /* IE6-9 */
}
.tab-social { max-width:100%; margin:0px auto; background:none !important; border:none !important;}
.tab-social ul { background:none; border:none; margin-left:-3px !important;}
.tab-social .ui-tabs-panel { background:#fff !important; border-radius:0px;}
.tab-social ul li { border:none !important; border-radius:0px !important;}
.social-button { padding:5px 30px; color:#666; font-size:12px;}
.tab-social ul li a { padding:6px 20px !important; font-family:Arial, Helvetica, sans-serif !important; font-weight:bold;}
.ui-widget { font-family:Arial, Helvetica, sans-serif !important;}
.prd-dtl-btm { background:#ebebeb; padding:10px 0px 20px 0px;}
.ui-tabs-panel h1 { font-weight:bold; margin-top:10px;}
.ui-state-default { background:#ccc !important;}
.ui-state-active { background:#fff !important;}
.list-breadcrub { margin-bottom:5px;}
.btn-blue-one { background:url(/assets/bt-bg.png) repeat-x; display:block; width:115px; height:38px; line-height:38px; color:#fff; font-size:16px; text-align:center; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px; box-shadow: 0 1px 2px 0px #666666; -webkit-box-shadow: 0 1px 2px 0px #666666; -moz-box-shadow: 0 1px 2px 0px #666666; -o-box-shadow: 0 1px 2px 0px #666666;}
.btn-blue-one:hover { text-decoration:none; color:#fff;}
.btn-blue-one:focus {color:#fff;}
.lean-slider-slide img {display: block !important; width: 100% !important; height: 550px !important;}
.trm-cnd-cnt { min-height: 400px;}
.slider-content { position: relative;}

.footer-social-icons li { float:left;}
.footer-social-icons li a { background:url(/assets/footer-social-icons-02.png) 0px -1px no-repeat; display:block; width:23px; height:22px; margin-right:5px;}
.footer-social-icons li a:hover { background-position:0px -23px;}
.footer-social-icons li a.tw { background-position:-25px -1px;}
.footer-social-icons li a.tw:hover { background-position:-25px -23px;}

.footer-social-icons.pull-right {
    margin-top: 8px;
    margin-left: 10px;
}
.footer-content {padding-bottom: 20px !important; }
.social-footer-main { width: 140px; float: right;}

@media (max-width: 780px) {
.product-content img {max-width:100%;}
.product-dsp-container { float: left !important;}
.frm-hd-pd { margin-left:15px;}
.row {margin:0px; padding:0px;}
.brd-rt-dsh {border:none;}
.footer-search label { text-align:left;}
.header-middle .field-form {margin-left:0px !important;}
.header-middle {float:none !important;}
.dropdown-menu li a { color:#fff !important;}
.navbar-nav { float:none !important;}
.navbar li { padding-left:15px !important;}
.header-middle input[type="text"] {width:88%;}
.logo-content {text-align:center; margin-bottom:10px;}
.col-lg-8.account-content {width:100%;}   
nav { margin-top: 10px;}
.page-breadcrumb {
    margin-left: 0 !important;
}
.social-footer-main {float: left !important;}
.social-footer-main ul {margin-top:8px !important;}
.magnifier { position:inherit !important;}
.navbar-default { border-bottom:1px solid #666 !important;}
.navbar-default .navbar-collapse, .navbar-default .navbar-form { border-color:#666 !important;}
.navbar-collapse.in { overflow: inherit !important;}
.navbar-nav { margin:7.5px 0px 7px -15px;}
.dropdown-menu .divider { display:none !important;}
.page-breadcrumb { margin-left:15px;}
.light-grey-body { padding-left:15px; padding-right:15px;}
.left-aside { padding-left:0px !important; }
.product-container, .product-top-banner { width:100% !important;}
.sbmnu-spt { display:none;}
.prd-cnt-bottom, .prd-cnt-bottom  { margin-right:15px !important;}
.header-main { margin-bottom:0px;}
.product-dsp-container { padding-left:15px; margin-top:10px; max-width:420px !important; float:left !important;}
.submenu-content {margin-left:15px;}
.submenu-content li {float:none;}
.submenu-content li a {padding-left:0px;}
.content-01 { padding-left:15px;}
#iview .iviewSlider { height:455px !important;}
#iview { height:450px !important;}
.submenu-content label { border-bottom:1px solid #333; padding-bottom:5px; font-size:14px;}
.footer-rajco-details { padding-top:20px !important; margin-top:20px !important; border-top: 1px solid #999; float:none !important; text-align:left !important;}
.lean-slider-slide img { height: auto !important;}
#bs-example-navbar-collapse-1 {padding-right: 0px !important;}

}

@media (max-width: 640px) {
#iview .iviewSlider { height:355px !important;}
#iview { height:350px !important;}
.frm-hd-pd { margin-right:20px;}

.magnifier {
    left: 0 !important;
    top: 670px !important;
    position: absolute !important;
}

.header-middle {
    margin-top: 35px !important;
}
.left-nav { margin-bottom: 15px;}
}

@media (max-width: 480px) {
#iview .iviewSlider { height:246px !important;}
#iview { height:245px !important;}
.prd-cnt-top { float:none;}
.prd-cnt-bottom { width:97% !important;}
.my-foto-main {width: 90% !important;}
.my-foto-main .my-foto { width: 100% !important;}
}

@media (max-width: 320px) {
    #iview {
    height: 210px !important;
    margin-bottom:0px !important;
}
#iview .iviewSlider { height:172px !important;}
.iview-controlNav { margin:-46px auto 0 !important;}
}