<%@cat = Category.all%>
<%= form_for @category , html: {multipart: true } do |f| %>

  <%= f.label :Name %>:
  <%= f.text_field :name %><br />
  <%= f.file_field :photo%>
  <%= f.select :category_id , Category.all.collect {|c| [ c.name, c.id ] }, {include_blank: 'None'} %><br/>
  <%= f.submit %>

<% end %>