<%@cat = Category.all%>
<%= form_for @product , html: {multipart: true } do |f| %>

  <%= f.label :Name %>:
  <%= f.text_field :name %><br />

  <%= f.label :Price %>:
  <%= f.text_field :price %><br />
  <%= f.label :Description %>:
  <%= f.text_field :desc %><br />
<%#= f.select("category_id", Category.all.collect {|c| [ c.name, p.id ] }, {include_blank: 'None'})%>
  <%= f.select :category_id , Category.all.collect {|c| [ c.name, c.id ] }, {} , :include_blank => true %><br/>
  <%= f.file_field :photo , multiple: true %>
  
  <%= f.submit %>

<% end %>
