<h1>Editing product</h1>

<%= form_tag(controller: "products", action: "final_update", method: "post") do%>
	<input type="text" value="" name="des"/>
	<input type="hidden" name ="id"value="<%=@product%>" />
	<%= submit_tag("add") %>
 <%end%>

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>