<h1>Listing products</h1>
<%if @products.blank?%>
	No images yet
<%else%>
<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= link_to 'Show', find_update_image_path(product) %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<%end%>
<%= link_to 'New Product', new_product_path %>
