<footer class="footer-content">
    <div class="wrapper">
    <div class="row footer-cnt-top">
        <div class="col-lg-2">
            <h4 class="ft-lst-hd">SPORTS</h4>
            <ul class="footer-list">
                <%@category = Category.where(category_id: nil)%>
                <%@category.each do |c|%>
                <li><%=link_to c.name , (home_cat_path c)%></li>
                <%end%>
            </ul>
        </div>
        
        
        
        
        <div class="col-lg-2">
            <h4 class="ft-lst-hd">SERVICE</h4>
            <ul class="footer-list">
                 <li><%=link_to 'Store Finder' , store_finder_home_index_path%></li>
                  <li><%=link_to 'About Us' , aboutus_home_index_path%></li>
                  <li><%=link_to 'Contact Us' ,  contact_us_path%></li>
                
            </ul>
        </div>
        <div class="col-lg-2">
            <h4 class="ft-lst-hd">COMPANY INFO</h4>
            <ul class="footer-list">
                <li><a href="#">Partners</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Press</a></li>
                <li><a href="#">Corporate Information</a></li>
            </ul>
        </div>
        <div class="col-lg-6">
            <div class="pull-right footer-rajco-details">
            <%=link_to image_tag('logo.png', :width=>130), root_path%>
            <div class="clearfix"></div>
            <div class="social-footer-main">
            <ul class="footer-social-icons pull-right">
             <li><a href='https://www.facebook.com/RajcoIndustries' class='fb' target="_blank"></a></li>
             <li><a href='https://twitter.com/rajcoindustries' class="tw" target="_blank"></a></li>
            </ul>
            <%= link_to 'About us', aboutus_home_index_path, :class => "red ft-abt"%>
            </div>
            <div class="clearfix"></div>
        </p>
            
            <p class="ft-abt-bt grey">© Rajco Industries, Inc.</p>
            <p class="red ft-abt-bt"><%=link_to 'Privacy Policy' , privacy_home_index_path , :class => "red"%> <%=link_to 'Terms & Conditions' , tearms_home_index_path , :class => "red"%></p>
            
            </div>
        </div>
    </div>
    </div>
</footer>