<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
<%= yield :index%>
<%= yield :product%>
<%= yield :category%>
<%= yield :about%>
<%= yield :search%>
<%= yield :contact%>
<%= yield :tearms%>
<%= yield :privacy%>
<%= yield :store%>
<%= stylesheet_link_tag    "application", :media => "all" %>
  	
    <%= javascript_include_tag "jquery-1.8.2.min" %>
    <%= javascript_include_tag "zoomsl-3.0.min" %>
    
    <%= javascript_include_tag "bootstrap" %>
    <%= javascript_include_tag "main" %>
    <%= javascript_include_tag "raphael-min" %>
    <%= javascript_include_tag "jquery.easing" %>
    <%= javascript_include_tag "lean-slider" %>
    <%#= javascript_include_tag "jquery.mosaicflow" %>
    <%= javascript_include_tag "jquery.textcomplete" %>
    <%= javascript_include_tag "jquery-ui" %>
    <%= javascript_include_tag "googleapi" %>

    
  <%= csrf_meta_tags %>
  <script type="text/javascript">
	var ok;
$(function() {

   $.ajax({
                
            type: 'GET',
                       url: "/home/product_search",
                       'data': {
                       },
                       dataType: "json",
           success: function(response) {
                
                 ok = response;
                 
var availableTags = ok;
$( "#tags" ).autocomplete({
source: availableTags,
select: function (event, ui){
    window.location = ui.item.url;
}
});


           },
           error: function(){
               
           }
        }); 


       });


function search_query(){
  
 var val =$('#tags').val();
  red_url = "http://www.rajcoindustries.com/home/search?query="+val;
  //red_url = "http://localhost:3000/home/search?query="+val;
  window.location=red_url;
  
  
}
       </script>	
</head>
<body>


<header class="header-main">
  <div class="wrapper">
  <div class="row">
      <div class="col-lg-2 logo-content">
         <%=link_to image_tag('rajco-logo.png', :width=>110), root_path%>
        </div>
        
        <div class="col-lg-7 frm-hd-pd">
          <form onsubmit="search_query(); return false;" class="form-header-srch">
              <input type="text" class="field-form fl" id="tags" placeholder="Search"/>
                <input type="submit" class="btn_simplesearch fl" />
            </form>
        </div>
        <div class="col-lg-3 header-middle fr">
          <ul class="header-list">
              <li><%= link_to 'Catalogue', cataloges_path %></li>
                <!-- <li><a href="#">Account</a></li>
                <li><a href="#">Store Locator</a></li> -->
            </ul>
          
          
        </div>
    </div>
    </div>
</header>
<nav class="navbar navbar-default" role="navigation">
<div class="wrapper">
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <%if params[:id].present?%>
        <%ids = Category.find_by_slug(params[:id])%>
        <%end%>
        <%@category = Category.where(category_id: nil)%>
        <%@category.each do |c|%>
        <%if ids.present?%>
        <li <%if c.id == ids.id || c.id == ids.category_id%>class="active" <%end%>><%=link_to c.name , (home_cat_path c)%></li>
        <%else%>
        <li><%=link_to c.name , (home_cat_path c)%></li>
        <%end%>
        
        <%end%>
           <ul class="nav navbar-nav fr right-menu">
       <!-- 
        <li class="dropdown">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">catalogue <i class="caret"></i></a>
          <ul class="dropdown-menu">
            <li><a href="#">Men</a></li>
            <li><a href="#">Women</a></li>
            
          </ul>
        </li> -->
      </ul>
      </ul>
      
      
    </div>
  
</div>
</nav>
<div class="clearfix"></div>
<%= yield %>


<%= render 'layouts/footer'%>		
</body>
</html>
